

header {
  /* source: http://docs.layerswp.com/doc/how-to-make-slider-and-widget-backgrounds-responsive/ */
  background-image: url("../images/bowl.jpg");
}


body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.container {
  max-width: 70rem;
}

h4 {
  margin-top: 6rem;
}

.flex-item {
  -webkit-flex: 1 1 12rem;
  -ms-flex: 1 1 12rem;
  flex: 1 1 12rem;
  margin-top: 2rem;
}

ul {
  list-style: none;
  font-size: 1.3em;
  line-height: 2em;
}

.final-img {
  margin-bottom: 6rem;
}

/* nav style changes for medium screens */
@media screen and (min-width: 700px) {
  ul {
    font-size: 1.6em;
  }
}
