header {
  /* source: http://docs.layerswp.com/doc/how-to-make-slider-and-widget-backgrounds-responsive/ */
  background-image: url("../images/order.jpg");
}

.text-box {
  padding: 0.2rem;
  margin-left: 0.8rem;
}

.radio-select, .checkbox, select {
  margin: 1rem;
  padding: 1rem;
}

.price {
  float: right;
}

/*payment form styling */
.payment-form, .cart {
  padding: 1rem;
  margin: 1rem auto;
  max-width: 48em;
}

form>div {
  max-height: 6em;
  margin-top: 1em;
}

input[type="text"], input[type="email"], input[type="number"], select {
  border: 2px solid #ccc;
  margin: 2px 0;
}

/* shopping cart styling */
.cart {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-summary {
  list-style-type: none;
  padding-left: 0;
}

.order-summary > li {
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
}

.order-summary > li:last-of-type {
  border-bottom: none;
  font-weight: 700;
}

/*
  FLEXBOX -------------------
  source: https://jonibologna.com/blog/flexbox-cheatsheet
*/

.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.flex-item {
  -webkit-flex: 1 1 10em;
  -ms-flex: 1 1 10em;
  flex: 1 1 10em;
}
