/*
  CONTACT PAGE STYLING
*/
header {
  /* source: http://docs.layerswp.com/doc/how-to-make-slider-and-widget-backgrounds-responsive/ */
  background-image: url("../images/squash.jpg");
}

/*text fields styling*/
input[type="text"], input[type="email"] {
  border: 2px solid #ccc;
}

textarea {
  resize: none;
  max-width: 100%;
  border: 2px solid #ccc;
}

.text-box {
  padding: 0.2rem;
  margin-left: 0.8rem;
}

form {
  padding-top: 6rem;
  margin: 4rem auto;
  max-width: 48em;
  border: 2px solid #ccc;
  border-radius: 4px;
}
/*
  FLEXBOX -------------------
  source: https://jonibologna.com/blog/flexbox-cheatsheet
*/

.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.flex-item {
  -webkit-flex: 1 1 4em;
  -ms-flex: 1 1 4em;
  flex: 1 1 4em;
  max-width: 90%;
}

.flex-item:last-of-type {
  margin-top: 4rem;
}
