/*
Footer css*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  margin: 0;

}

/*footer logo
*/
.footer-logo {
  width: 60%;
}

/*footer container*/
 .Footer {
  display: flex;
  padding-top: 10%;
 }

 /*footer links*/

 .nav-links-footer {
  color: #FEE16D;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding-left: 10%;
 }
 .nav-links-footer > a {
   padding-right: 15px;
   text-decoration: none;
   color: black;
}

/*hovering navigation link footer*/
a:hover {
  color: #FEE16D;
}

/*instagram */

.insta {
width: 10%;
}

/*facebook*/

.face {
  width: 10%;
}

/*width  change footer*/
.width-change {
  width: 25%;
}

