* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

/* wrapper for body content so it doesn't go edge to edge like the header */
.content {
  padding: 1em;
  max-width: 80rem;
  margin: auto;
}

/*
  Code blocks in styleguide -------------------
*/
code {
  display: block;
  background-color: #000;
  color: #fee16d;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 0.9em;
}

.code_tab {
  margin: 1.5em;
}

/* bg to show elements that would be on a dark bg */
.bg-for-light-elements {
  background-color: #000;
  width: 80%;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the in-text link */
.in-text-link {
  color: #000;
  text-decoration: underline;
  -webkit-text-decoration-color: #fee16d;
  text-decoration-color: #fee16d;
}

.in-text-link:hover, .in-text-link:active {
  background-color: #fee16d;;
}

/* Styling for the navigation button */
.btn {
  display: inline-block;
  padding: 0.6rem;
  border-radius: 4px;
  border: 2px solid #000;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 0.5em 0.5em;
  min-width: 10em;
  max-width: 12em;
  text-decoration: none;
}

#sub-nav a {
  color: #000;
}

#sub-nav a:hover, #sub-nav a:focus {
  text-decoration: none;
  background-color: #fee16d;
}


/* Styling for the other buttons */
.button-neutral {
  background-color: #000;
  color: #fff;
}

.button-neutral:hover, .button-neutral:focus {
  color: #fee16d;
  border-color: #fee16d;
}

.button-cta {
  background-color: #fee16d;
  border-color: #fee16d;
}

.button-cta:hover, .button-CTA:focus {
background-color: #fff;
border-color: #000;
}

.img-link:hover, img-link:focus {
  opacity:0.5;
}

/*
  TEXT ELEMENTS -------------------
*/
h1 {
  font-size: 3rem;
  padding-top: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

h6 {
  font-size: 0.8rem;
}

p {
  max-width: 36em;
}

.page-description {
  font-size: 1.4em;
}

/*
  IMAGE Elements -------------------
*/

img {
  width: 100%;
  border-radius: 4px;
}

/* large images */
.full-image {
  margin: 2rem auto;
}

/* Source: https://www.w3schools.com/howto/howto_css_image_center.asp */
.product-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Sun-burst left*/
.sun-burst-left {
  display: none; /* hide on small screens */
}

/*Sun-burst right*/
.sun-burst-right {
  display: none; /* hide on small screens */
}

.specialities {
  -webkit-flex: 1 1 12rem;
  -ms-flex: 1 1 12rem;
  flex: 1 1 12rem;
  text-align: center;
  margin-top: 2rem;
}

/* grab and go */
.grab {
  padding: 2rem;
  background-color: #fee16d;
  border-radius: 4px;
}

.grab-item {
  -webkit-flex: 1 1 20rem;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}

.grab-item > img {
  min-width: 20rem;
  max-width: 30rem;
}

.gallery > h2, .gallery > p {
  padding-left: 2rem;
}

.gallery > p, .grab-item > p {
  max-width: 20rem;
}

/*gallery image resize*/
.gallery-img {
  -webkit-flex: 1 1 20rem;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  min-width: 20rem;
  max-width: 30%;
  margin: 1rem;
}

/*
  FLEXBOX -------------------
  source: https://jonibologna.com/blog/flexbox-cheatsheet
*/
.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
}

/* nav style changes for medium screens */
@media screen and (min-width: 700px) {

  .page-description {
    font-size: 1.6em;
  }

  /*Sun-burst left*/
  .sun-burst-left {
    display: inline-block;
    width: 15%;
    height: 15%;
  }

  /*Sun-burst right*/
  .sun-burst-right {
    display: inline-block;
    width: 15%;
    height: 15%;
  }

  .container {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .grab-item > h2, .gallery > h2 {
    font-size: 4em;
  }

  .grab-item > p, .gallery > p {
    font-size: 1.4em;
  }

  .specialities {
    margin-top: 6rem;
  }

  /* large images */
  .full-image {
    margin: 4rem 0;
  }
}

/* nav style changes for larger screens */
@media screen and (min-width: 900px) {
  .page-description {
    font-size: 2em;
  }
}
