/*
  Menu and Product page styling -------------
*/

/* header images to swap with js */
.menu {
  background-image: url("../images/menu.jpg");
}

.pancakes {
  background-image: url("../images/crepe.png");
}

.toast {
  background-image: url("../images/toast.png");
}

#download-menu {
 position: relative;
}

.menu-section {
  margin-top: 6rem;
}

.menu-section h2 {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
}

/*padding for breakfast*/
.breakfast-padding {
  padding-top: 1em;
}

.flex-menu {
  -webkit-flex: 1 1 12em;
  -ms-flex: 1 1 12em;
  flex: 1 1 12em;
}

.product {
  max-width: 40em;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 2rem;
  position: relative; /* so that absolute position can be used on the btn */
}

.product-img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding-bottom: 2rem;
}

.btn {
  position: absolute; /* source: https://www.w3schools.com/css/css_positioning.asp */
  right: 0.5rem;
  bottom: 0.5rem;
}

/* ingredient callout on product pages */
.ingredients {
  font-weight: bold;
  display: block;
  margin-top: 2em;
}

.price {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 2em;
}

.details {
  float: right;
}

.product-desc {
  line-height: 1.5em;
  padding-bottom: 6em;
 }
