/*
  Header and Navigation CSS --------------------------------------------------
*/
header {
  /* source: http://docs.layerswp.com/doc/how-to-make-slider-and-widget-backgrounds-responsive/ */
  background-image: url("../images/fries.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40rem;
  color: #fff;
  background-color: #000;
  padding: 2em;
}

/*
  styles for page title ---------------------
*/
.header-title {
  background-color: #000;
  display: inline-block;
  padding: 0.01em 0.1em;
  position: relative;
  top: 28rem;
}

/*
  styles for logo in header ---------------------
*/

#header-logo, #footer-logo {
  max-width: 12rem;;
  margin: 1rem;
}

/*
  Navigation -------------------
*/

#menu-toggle > img {
  max-width: 44px;
  height: auto;
}

.nav-bar {
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
}

.link-nav {
  color: #fff;
  text-decoration: none;
  max-height: 3em;
  margin: 2em;
  /* source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_header */
  float: none;
  display: block;
  text-align: center;
  border-bottom: 4px solid #000; /* fix so the hover effect doesn't change the size of the container */
}

/* Dropdown styling is from IAT339 week7 lecture example */

.header-right {
  margin-top: 3rem;

  display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

.box-item-nav {
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
}

.link-nav:hover, .link-nav:focus, .selected {
  /* https://css-tricks.com/styling-underlines-web/ */
  text-decoration: underline;
}

#header-logo:hover, #header-logo:focus {
  border-bottom: none;
}

.bag {
  height: 30px;
  width: auto;
  margin-top: -30px; /* bring baseline of image inline with text links*/
}

/* nav style changes for larger screens */
@media screen and (min-width: 905px) {
  .link-nav {
    float: left;
  }

  .header-right {
    float: right;
    width: 70%;
  }

  .box-item-nav { /* nav style changes for larger screens */
  	-webkit-flex: 1 1 20%;
  	-ms-flex: 1 1 20%;
  	flex: 1 1 20%;
  }

  .link-nav:hover, .link-nav:focus, .selected {
    /* https://css-tricks.com/styling-underlines-web/ */
    text-decoration: none;
    border-bottom: 4px solid #fee16d;
  }
}


/*
  Footer CSS --------------------------------------------------
*/

/*footer logo
*/
.footer-logo {
  width: 40%;
}

/*instagram */
.insta {
width: 10%;
}

/*facebook*/
.face {
  width: 10%;
}

#iat339_links, #footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

#iat339_links {
  background-color: #000;
  height: 2em;
}

#footer {
  height: 8rem;
}

#footer > div {
  display: inline-block;
}
