/*
  Header and Navigation CSS --------------------------------------------------
*/
header {
  /* source: http://docs.layerswp.com/doc/how-to-make-slider-and-widget-backgrounds-responsive/ */
  background-image: url("../images/fries.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40rem;
  color: #fff;
  background-color: #000;
}

/*
  styles for page title ---------------------
*/
.header-title {
  background-color: #000;
  display: inline-block;
  padding: 0.01em 0.1em;
  position: relative;
  top: 28rem;
  margin-left: 2rem;
  font-size: 1.7em;
}

/*
  styles for logo in header ---------------------
*/
#nav-logo, #footer-logo {
  display: inline-block;
  max-width: 12rem;
  margin: 0;
}

/*
  Navigation -------------------
*/
#menu-toggle {
  max-width: 44px;
  height: auto;
  float: right;
  margin-right: 2em;
  margin-top: 3em;
}

.hidden {
  display: none;
}

.nav-bar {
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.link-nav {
  color: #fff;
  text-decoration: none;
  max-height: 3em;
  margin: 2em;
  /* source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_header */
  float: none;
  display: block;
  text-align: center;
  border-bottom: 4px solid #000; /* fix so the hover effect doesn't change the size of the container */
}

.link-nav:focus {
  /* source: https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */
  outline: none;
}

/* Dropdown styling is from IAT339 week7 lecture example */

.box-item-nav {
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
}

.link-nav:hover, .selected {
  color: #fee16d;
  text-decoration: underline;
}

.link-nav:focus {
  text-decoration: underline;
}

#nav-logo:hover > a, #header-logo:focus > a {
  border-bottom: none;
}

.bag {
  height: 30px;
  width: auto;
  margin-top: -30px; /* bring baseline of image inline with text links*/
}

/*
  Footer CSS --------------------------------------------------
*/
#iat339_links, #footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  font-size: 0.8em;
}

#iat339_links {
  background-color: #000;
  position: relative;
  bottom: 0;
}

#footer {
  max-width: 40rem;
  margin: auto;
}

.footer-item {
  -webkit-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;

  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;

  margin: 0.5em;
  text-align: center;
}

/* social media logos */
.insta, .face {
  width: 45%;
  padding: 0.2em;
  max-width: 44px;
}

/* nav style changes for medium screens */
@media screen and (min-width: 700px) {
  #iat339_links, #footer {
    font-size: 1em;
  }
  .header-title {
    font-size: 2.4em;
  }
}

/* nav style changes for larger screens */
@media screen and (min-width: 900px) {
  #menu-toggle {
    display: none;
  }

  .header-right {
    margin-top: 2rem;

    display: -webkit-flex;
  	display: -ms-flex;
  	display: flex;
  }

  .link-nav {
    float: left;
  }

  .header-right {
    float: right;
    width: 70%;
  }

  .box-item-nav { /* nav style changes for larger screens */
  	-webkit-flex: 1 1 20%;
  	-ms-flex: 1 1 20%;
  	flex: 1 1 20%;
  }

  .link-nav:hover, .link-nav:focus, .selected {
    /* https://css-tricks.com/styling-underlines-web/ */
    text-decoration: none;
    border-bottom: 4px solid #fee16d;
  }
}
