body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.healthy {
	display: flex;
	text-align: center;
}

/*news heading*/ 

h2 {
	padding-left: 1em;
	padding-bottom: 0em;
	text-align: center;
}

/*news subtittle date*/

.date1 {
	padding-left: 1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.french-toast-para {
	padding-left: 1em;
	max-width: 73em;
	text-align: center;
}

.half-image-text {
padding-left:5%;
padding-right: 5%;
}