header {
  /* source: http://docs.layerswp.com/doc/how-to-make-slider-and-widget-backgrounds-responsive/ */
  background-image: url("../images/open-cafe.jpg");
}

.content {
  max-width: 60rem;
}

h2 {
	text-align: center;
}

/*news subtittle date*/
time {
	display: block;
	margin: 1em auto;
}

article {
  padding-bottom: 2rem;
  margin-bottom: 6rem;
  border-bottom: 2px solid #ccc;
}
